body {
  background-color: rgb(231, 231, 231);
}

div.container{
  position: relative;
  background-color: green;
  width: auto;
  height: 650px;
  margin: 20px 10% 20px;
  border: 1px solid;
  padding: 10px;
}

header {
  background-color: black;
  height: 72px;
  border: 1px solid;
  margin: 0;
  text-align: left;
}

.titulo {
  color: White;
}
